In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [2]:
# What is the length of the salaries list.
len(salaries)

7

In [3]:
# Retrieve the third salary in the list by using index
salaries[2]

'50k'

In [4]:
# Extract the last salary from the list by using a negative index
salaries[-1]

'40k'

In [5]:
# Slice the salaries list to get only the middle three salaries
salaries[2:5]

['50k', '60k', '35k']

In [7]:
# Add a new salary to the list, ‘100k’ by using append() method.
salaries.append('100k')

In [8]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [9]:
# Add a new salary to the list, ‘120k’ without method.
salaries = salaries + ['120k']

In [10]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [12]:
# Replace the third salary in the list with '55k' and print the updated list
salaries[2] = '55k'

In [13]:
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [15]:
# Count how many times '40k' appears in the list
count_40k = salaries.count('40k')

In [16]:
print(count_40k)

2

In [17]:
# Insert a new salary at the second position
salaries.insert(1, '30')

In [18]:
salaries

['20k', '30', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [19]:
# Reverse the order of the salaries list with method
salaries.reverse()

In [20]:
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '30', '20k']

In [21]:
# Reverse the order of the salaries list without method.
salaries = salaries[::-1]

In [22]:
salaries

['20k', '30', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']